*.sym
*.smb
*.rsc
*.dll
*.x64
*.code
t[0-9]
projects/*
knowngood/Oberon.exe
knowngood.prev*/*
background docs/*
Pirklbauer/*
build/*
p6000/*
wirth/old/*
wirth/PaulReed/*
wirth/download*
*.sublime-*
