*.sym
*.smb
*.rsc
*.dll
*.x64
*.code
t[0-9]
knowngood.prev*/*
background docs/*
prevgui/*
buildpre/*
build1/*
build2/*
buildtest/*
buildsys/*
p6000/*
wirth/old/*
wirth/PaulReed/*
wirth/download*
*.sublime-*
