*.code
*.dll
*.rsc
*.smb
*.sublime-*
*.sym
*.x64
background docs/*
build/*
buildlin/*
ctesting/*
external/*
fasm/*
knowngood.prev*/*
knowngood/Oberon.exe
p6000/*
Pirklbauer/*
projects/*
t[0-9]
Wirth/download*
Wirth/old/*
Wirth/PaulReed/*
